@font-face {
    font-family: vazir;
    src: url('/fonts/Vazir.eot');
    src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazir.woff2') format('woff2'),
         url('/fonts/Vazir.woff') format('woff'),
         url('/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
  }

body,p,a,h1
{
  font-family: vazir;
}
.container-fluid
{
  padding-right: 0;
  padding-left: 0;
}

.img-brand
{
  width: auto !important;
  height: auto !important; 
}

.top-header
{
 padding-left: 0 !important;
 padding-right: 0 !important;
}

.introduce-div
{
  margin-top: 50px;
}

.introduce-p
{
  direction: rtl;
  text-align: justify;
  font-size: 17px;
}

.subject-p
{
  display: block;
  margin-right: 15px;
  margin-top: 50px;
  font-size: 20px;
  text-align: right;
  border-right: 3px #008FD5 solid;
  padding-right: 4px;
}

.navbar-menu
{
   padding-top:20px;
}

.navbar-menu-small
{
   padding-top:0px; 
   font-size: 10px; 
}

.navbar-menu li a:hover
{
   /* color: #008FD5 !important; */
   /* background:#008FD5 !important; */
}

.navbar-default
{
  height: auto !important;
  margin-bottom: 0px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;    
}

.resized {
  height:10px !important;
  transition: .3s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8); 
}

.top-navbar li a
{
  text-align: right;
}

.nav li a
{
  color: black !important;
} 

.bottom-header
{
   padding: 0px 0 0px 0;  
}

.h1-header h1
{
  float: right;
  font-size: 40px;
}

.join-header p
{
  float: right;
  font-size: 20px;
}

.join-header .input-group
{
  width: 50%;
  float: right;
  margin-left: 350px !important;
}

.font-vazir
{
  font-family:vazir;
}

.button-confirm
{
  font-size: 25px !important;
}

.join-inputbox
{
  height:40px !important;
  font-size: 25px !important;
  width: 20px;
}

.product-main-div
{
  margin-top: 0;
}

.product-div
{
  padding: 50px 35px 0px 35px !important;
}

#product-div-p
{
  direction: rtl;
  text-align: justify;
  word-break: break-all;
  font-size: 15px;
}

.product-div-img
{

}

.product-div-text a
{
  margin-bottom: 20px;
  color: cornflowerblue;
  font-size: 20px;
  text-decoration-line:none; 
  direction: rtl !important;
  text-align: right !important;
  float: right;
  width: 100%;
}

.owl-theme
{
  margin-top: 100px; 
  margin-bottom: 100px; 
}

.owl-slider
{
  margin-top: 20px;
  margin-bottom: 35px;
}

.owl-slider .owl-slider-divslide
{
  position: relative;
}

.owl-slider-divslide:hover .div-link
{
  display: block;
  transition: .3s;
  z-index: 1 !important;
}

.owl-slider-divslide:hover .a-item
{
  background-color: #008FD5;
  color: white;
  
}

.owl-slider-divslide:hover .item-image
{
 opacity: .5;
}

.a-item:hover
{
  cursor: pointer;
}

.owl-slider a
{
  color: #008FD5;
  text-align: center;
  border-bottom:3px #008FD5 solid;
  padding-bottom: 20px;
  width: 100%;
  display: block;
  text-decoration:none !important;   
}

.owl-slider .div-link
{
  position: absolute;
  left: 45%;
  top: 35%;
  margin-left: -10px;
  margin-top: -5px;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 0px 4px rgb(255,255,255,.4); 
  background-color: #008FD5; 
  display: none;
  transition: .3s;
  color: #fff;
  text-align: center; 
  padding-top: 8px;
}

.owl-slider .div-link:hover
{
  background-color:  rgb(59, 183, 245); 
  cursor: pointer;
}

.footer-div
{
  width: 100%;
  background-color: #213540;
}

.footer-div-right
{
  padding-top: 50px;
  text-align: center;
}

.footerpencil-i
{
 color: #008FD5; 
 margin-bottom: 20px;
}

.footer-p
{
  padding-bottom: 10px;
  color: #008FD5;
  text-align: justify;
  direction:rtl;
  line-height: 30px;
  border-bottom: 1px #4D5D66 solid;  
}

.footer-div-right-bottom
{
  padding: 0 0 0 0;
}

.footer-p-envelope
{
  padding-bottom: 10px;
  color: #008FD5;
  text-align: justify;
  direction:rtl;
  line-height: 30px;
  border-bottom: 1px #4D5D66 solid;  
}

.footerabout-p
{
  color: #fff;
  font-size: 20px;
}


.div-fix-left
{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 5px 12px 15px 10px; 
  width: 100px;
  height: 90px;
  background: #008FD5;
  z-index: 1;  
}

#div-fix-i
{
  float: right;
  padding: 0 0 0 0;
}

#div-fix-a
{
  padding: 0 10px 0 0;
}

.fa-cload
{
  float: right;
  color: #fff;
}

.div-fix-left a
{
  float: right;
  color: #fff;
  direction: rtl;
  text-align: right;
  text-decoration: none;
  padding-right: 0px !important;
}
